# NetBeans / Maven / Java
/target/
/.nb-gradle/
/build/
/out/

# Archivos de configuración y despliegue (IMPORTANTE)
.env
Dockerfile
Dockerrun.aws.json

# IDE específicos
*.iml
*.class
.idea/
*.log

# OS específicos
.DS_Store
Thumbs.db